{
  "presets": [
    [
      "@babel/preset-react",
      {
        "throwIfNamespace": false // defaults to true
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-private-property-in-object",
      {
        "loose": true
      }
    ]
  ]
}
