.eslintignore
.git
.github
.github/*
.gitignore
.husky
.prettierignore
.vscode
.vscode/*
build
dist
node_modules
package-lock.json
public

*.config.js
**/node_modules/**
**/build/**
**/dist/**
**/.git/**
**/public/**